@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:wght@100..900&family=Urbanist:wght@300..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #5044E5;
}

@layer base {
  * {
    /* Urbanist এখন ৩০০-৯০০ এর মধ্যে যেকোনোটা সাপোর্ট করবে */
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    /* এখন এটা কাজ করবে */
    cursor: none;
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  b,
  strong {
    font-weight: 600;
    /* শুধু হেডলাইনগুলো একটু মোটা রাখলি */
  }
}


@variant dark (&:where(.dark, .dark *));